


footer {
    padding: 20px;
    margin-top: 200px;
    background-color:rgba(9, 56, 59, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    color: white;
    > * {
        padding-inline: 50px; 
        text-align: center;
    }
    .logo {
        color: royalblue;
    }
}


@media (min-width: 620px) {
    footer {
        flex-direction: row;
    }
}

